{% extends "base.html.twig" %}

{# ================ TITRE DE LA PAGE =======================#}

{% block title %}
    {{ parent() }} Mes étudiants
{% endblock %}

{# ================ CONTENU =======================#}

{% block body %}

    <div class="container tableauInfoPC" style="margin-top: 140px;">

        <h1>Mes étudiants</h1>
        {# <p>A voir comment ça se passe pour la réinitialisation du mot de passe avant de faire un UserType ? </p> #}
    <table class="table table-light mt-5" style="box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.363);">
            <thead>
                <tr>
                    <th scope="col" style="color: #88569F;">#</th>
                    <th scope="col" style="color: #88569F;">Email</th>
                    <th scope="col" style="color: #88569F;">Téléphone</th>
                    <th scope="col" style="color: #88569F;">Adresse</th>
                    <th scope="col" style="color: #88569F;">Prénom</th>
                    <th scope="col" style="color: #88569F;">Nom</th>
                    <th scope="col" style="color: #88569F;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for student in student %}   
                    <tr>
                        <td style="color: #88569F;">{{ student.id }}</td>
                        <td style="color: #88569F;">{{ student.email }}</td>
                        <td style="color: #88569F;">{{ student.phone }}</td>
                        <td style="color: #88569F;">{{ student.address }}</td>
                        <td style="color: #88569F;">{{ student.firstName }}</td>
                        <td style="color: #88569F;">{{ student.lastName }}</td>
                        <td style="color: #88569F;">
                            <a style="background-color: #88569F; padding:7px; font-size:medium;" href="{{ path('deleteStudent', {id: student.id}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer cet étudiant ?')" class="bouton">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container tableauInfoTel" style="margin-top: 200px; display:none;">
        <h1>Mes informations</h1>
        {# <p>A voir comment ça se passe pour la réinitialisation du mot de passe avant de faire un UserType ? </p> #}
    <table class="table table-light mt-5" style="box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.363);">
            <thead>
                <tr>
                    <th scope="col" style="color: #88569F;">#</th>
                    <th scope="col" style="color: #88569F;">Email</th>
                    <th scope="col" style="color: #88569F;">Téléphone</th>
                    <th scope="col" style="color: #88569F;">Adresse</th>
                    <th scope="col" style="color: #88569F;">Prénom</th>
                    <th scope="col" style="color: #88569F;">Nom</th>
                    <th scope="col" style="color: #88569F;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for student in student %}   
                    <tr>
                        <td style="color: #88569F;">{{ student.id }}</td>
                        <td style="color: #88569F;">{{ student.email }}</td>
                        <td style="color: #88569F;">{{ student.phone }}</td>
                        <td style="color: #88569F;">{{ student.address }}</td>
                        <td style="color: #88569F;">{{ student.firstName }}</td>
                        <td style="color: #88569F;">{{ student.lastName }}</td>
                        <td style="color: #88569F;">
                            <a style="background-color: #88569F; padding:7px; font-size:medium;" href="{{ path('deleteStudent', {id: student.id}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer cet étudiant ?')" class="bouton">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="bouton1">
        <a href="{{ path('office') }}" style="background-color: #88569F;" class="bouton" role="button" type="button">Retour</a>
    </div>

    <div class="spanLogin1">
        {% include "base/footerFixed.html.twig" %}
    </div>
    <div style="display:none;" class="spanLogin2">
        {% include "base/footerNoScroll.html.twig" %}
    </div>

    {# {% include "base/footerFixed.html.twig" %} #}

{% endblock %}


{# ================ CONTENU =======================#}

    {# <div class="container">
        <table class="table table-dark mt-5">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for student in student %}
                <tr>
                    <th scope="row">{{ student.id }}</th>
                    <td>{{ student.email }}</td>
                    <td>{{ student.phone }}</td>
                    <td>{{ student.address }}</td>
                    <td>{{ student.firstName }}</td>
                    <td>{{ student.lastName }}</td>



                    <td>
                        <a href="{{ path('deleteStudent', {id: student.id}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer cet étudiant ?')" class="btn btn-danger">Suppression</a>
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        <a href="{{ path('office') }}" type="button" class="btn btn-primary mt-5 mb-3">Retour menu profil</a>
    </div> #}
